@import "tailwindcss";
@source "./**/*.{js,jsx}";

:root {
  --background: #f8fafc;
  --foreground: #171717;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}