@import "tailwindcss";
@source "./**/*.{js,jsx}";

:root {
  --background: #f8fafc;
  --foreground: #171717;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  background-image: radial-gradient(circle, #cbd5e1 1px, transparent 1px);
  background-size: 24px 24px;
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}